.dart_tool/
build/
pubspec.lock
ios/Pods/
ios/DerivedData/
**/*.xcuserstate
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
android/.gradle/
android/build/
node_modules/
dist/
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
