# Flutter & Dart
.dart_tool/
.packages
build/
pubspec.lock

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/
**/*.xcuserstate
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/.gradle/
android/build/
*.iml

# Node
node_modules/
functions/node_modules/
functions/.firebase/
functions/.cache/

# Web/Reports
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
